body{
  background: #E5E5E5;
}
.entrada{
  display: flex;
  justify-content: center;
  background-color: #0a141d;
  padding: 10px;
}  
button{
	background:#0a141d;;
	width: 150px;
	height: 30px;
	color: #FFFFFF;
	text-align: center;
	font: 'Roboto Condensend';
}
h2{
  color: #000000;
  font-size: 22px;
  font: Roboto condensend;
}
